.config/gcloud
.config/tfenv
.config/exercism
helix/.config/helix/runtime/**/*
emacs/auto-save-list
emacs/eln-cache
emacs/elpa
emacs/eshell
emacs/projectile-bookmarks.eld
emacs/projects
emacs/recentf
emacs/tramp
emacs/transient
emacs/undo-fu-session
custom.el
vim/pack/colors/opt/everforest/after
